.directory-container {
    width: 80%;
    margin: 0 auto;
}

.page-nav {
    margin: 0 auto;
    column-count: 3;
    width: 25%;
    min-width: 150px;
}

.page-nav button {
    width: 100%;
    border-radius: 5px;
}

.page-nav p {
    width: 100%;
    text-align: center;
}

.download-btn {
    margin: 0 auto;
    display: block;
}